<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
 
  <pluginGroups>
   
  </pluginGroups>

  <proxies>

  </proxies>

  <servers>

	<server>

        <id>MuleRepository</id>
        <username>pavani-rongala</username>
        <password>Sunipk96*</password>

    </server>
  </servers>

  
  <mirrors>
  
  </mirrors>

  
  <profiles>
   
	 <profile>

        <id>Mule</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <repositories>
            <repository>
                <id>MuleRepository</id>
                <name>MuleRepository</name>
                <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                <layout>default</layout>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </repository>
        </repositories>

    </profile>
  </profiles>
<pluginRepositories>
		
		  <pluginRepository>
		    <id>mule-public</id>
		    <url>https://repository.mulesoft.org/nexus/content/repositories/releases</url>
		  </pluginRepository>
		
		<pluginRepository>
			<id>mulesoft-releases</id>
			<name>MuleSoft Releases Repository</name>
			<layout>default</layout>
			<url>https://repository.mulesoft.org/releases/</url>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</pluginRepository>
</pluginRepositories>

</settings>
